footer{
    background-color: #393939;
    display: flex;
    padding: 25px;
    .left,.right{
        width: 30%;
        display: flex;
        align-items: center;
    }
    .center{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
    }
}

@media screen and (max-width: 1200px){
    footer{
        flex-direction: column;
        .left, .center, .right{
            width: 100%;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        .left{
            order: 2;
            .menu   {
                margin: 15px 0;
                display: flex;
                align-items: center;
                .email{
                    order: 2;
                }
                .phone{
                    order: 1;
                }
            }
        }
        .center{
            order: 3;
        }
        .right{
            order: 1;
            .menu-social-networks-container{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}